<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


    <title id="title" >Value</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>

    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h1 id="username" class="h2 text-left" style="margin-top: 10px; margin-bottom: 10px;">
                Username </h1>
        </div>
        <div class="col-md-2">
            <h1 id="userAuthorities" class="h2 text-left"  style="margin-top: 10px; margin-bottom: 10px;">
                Authorities</h1>
        </div>
        <div class="col-sm-6"></div>
        <div class="row justify-content-end">
            <button type="button" class="btn btn-outline-secondary">
                <a class="nav-link" href="/logout">Sign out</a>
            </button>
        </div>

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-2 d-none d-md-block bg-light sidebar">
            <ul class="nav flex-column nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/user">User</a>
                </li>
                <li class="nav-item" id="navForAdmin">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/RESTtest">REST</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">User information</h1>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>lastname</th>
                        <th>pass</th>
                        <th>roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th id="userId">id</th>
                        <th id="userUsername">name</th>
                        <th id="userLastname">lastname</th>
                        <th id="userPassword">pass</th>
                        <th id="userRoles">role</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script type="module">
    async function userDataGet() {
        let url = 'http://localhost:8081/api/user';
        let response = await fetch(url);
        let user;
        if (response.ok) {
            user = await response.json();
            $("#title").text(user.username);
            $("#username").text(user.username);
            $("#userId").text(user.id);
            $("#userUsername").text(user.username);
            $("#userPassword").text(user.password);
            if (user.authorities.length>1) {
                $("#userRoles").text(user.authorities[0].authority + " " + user.authorities[1].authority);
                $("#userAuthorities").text(user.authorities[0].authority + " " + user.authorities[1].authority);
                $("#navForAdmin").show();
            } else {
                $("#userRoles").text(user.authorities[0].authority);
                $("#userAuthorities").text(user.authorities[0].authority);
                $("#navForAdmin").hide();
            }
            console.log(user.username);
            console.log($("#username").text());
        } else {
            alert("Ошибка HTTP: " + response.status);
        }
    }
    userDataGet();
    async function getSelectedUserData(id){
        let url = 'http://localhost:8081/api/user/'+id;
        let response = await fetch(url);
        let user;
        if (response.ok) {
            user = await response.json();
    }

</script>
</body>

</html>